#main_h1{
  color: #383838;
  background: #ffffff;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  width: 100vw;
  }

.container-fluid.header {
  padding: 0;
}

body {
  background-color: #f4f4f4;
  color: #383838;
  font-family: 'Quicksand', sans-serif;
  margin-top: 175px;
}

/*
.past-vid{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
*/

a{
  text-decoration: none;
}

a:hover{
  color: #8c2c2c;
}

.gallery_photo{
  border-radius: 10px;
}

.yt_friends{
  border-radius: 100%;
  height: 100px;
  float: left;
}

#yt_friend_1:hover{
  padding-top: 5px;
}

.wrapper{
  height: 105px;
  position: relative;
  display: inline-block;
}

#yt_friend_2:hover{
  padding-top: 5px;
}

#yt_friend_3:hover{
  padding-top: 5px;
}

#yt_friend_4:hover{
  padding-top: 5px;
}

#yt_friend_5:hover{
  padding-top: 5px;
}

#newsletter{
  width: 180px;
  height: 40px;
  background-color: #0D00FF;
  border-radius: 10px;
  line-height: 1px;
  text-align: center;
}

#newsletter > h3,
#newsletter > h3 > a{
  background-color: #0D00FF;
  color: #f4f4f4;
}

#newsletter > h3 > a:hover{
  color: #FF0000;
}

#past_videos_link{
  width: 250px;
  height: 40px;
  background-color: #0D00FF;
  border-radius: 10px;
  line-height: 1px;
  text-align: center;
}

#past_videos_link > h3,
#past_videos_link > h3 > a{
  background-color: #0D00FF;
  color: #f4f4f4;
}

#past_videos_link > h3 > a:hover{
  color: #FF0000;
}

.barrier{
  border:solid #383838;
}

.btn-primary {
  background-color: #0D00FF;
  border-color: #0D00FF;
}

.btn-primary:hover {
  background-color:#007bff;
  border-color: #007bff;
}

.duk-dropdown {
  display: inline-block;
}

.dropdown-menu {
  width: 385px;
}

.locations_link{
  border-radius: 100px;
}

.custom-navbar{

}

.navbar-brand{
  position: absolute;
  width: 100%;
  left: 0;
  top: 25px;
  text-align: center;
  margin: auto;
  height: 50px;
}

.navbar-dark{
  height: 120px;
  background-image: linear-gradient(#f4f4f4 50%, #000000 50%);
}

#about_us{
  background-color: ;
}

.profile-pict{
  width: 120px;
  height: auto;
  border: 2px solid #000000;
  border-radius: 50%;
}

.navbar-nav{
  padding-top: 56px;
}

.navbar{
  margin-bottom: 20px;
}

.navbar-dark .navbar-toggler {
  margin-top: 56px;
  border: none;
}

.navbar-dark .navbar-toggler:focus {
  outline: none;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(244, 244, 244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.collapse.show {
  margin-top: 16px;
  background: rgba(0,0,0,.8);
}

.ml-auto, .mr-auto {
  width: calc(50% - 50px);
  justify-content: space-around;
}

.nav-link {
  color: #f4f4f4 !important;
}

.nav-link:hover {
  color: rgba(255,255,255,.5) !important;
}

@media (max-width:991px) {
  .navbar-nav {
    padding: 0 0 0 25px;
  }
  #last-link {
    margin-bottom: 16px;
  }
  .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  .ml-auto, .mr-auto {
    width: 100%;
  }
}
